/* styles.css */

#top-bar {
    text-align: left;
    background: grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px; /* Fügt 20px unterhalb des top-bar hinzu, um Platz für result_div zu schaffen */
}

#top-bar p {
    margin: 5px;
    padding: 5px;
    color: black;
}

#card_1,
#card_2 {
    height: 250px;
    width: 250px;
    background-color: white;
    box-shadow:0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 0.5px solid rgba(150, 150, 150, 1);
    margin: 10px auto 0; /* Hinzugefügt: Linker Abstand zwischen card_2 und card_1 */
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block; /* Ändern Sie die Anzeige, um Karten nebeneinander anzuordnen */
}

#card_1 p,
#card_2 p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#card_1 img,
#card_2 img {
    width: 75px;
    height: 75px;
    border: 0px;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}

#row_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

#upload_image {
    width: 250px;
    height: 100;
    line-height: 70px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.dropdown_2 {
    font-family: 'Montserrat', sans-serif;
}

#dropdown_container_1,
#dropdown_container_2 {
    width: 250px; /* Gleiche Breite wie Upload-Element */
    height: 100px; /* Gleiche Höhe wie Upload-Element */
    line-height: 70px; /* Anpassung der Linienhöhe für vertikale Zentrierung */
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto 0;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    box-sizing: border-box; /* Berücksichtigen Sie die Breite und Höhe des Rahmens */
    border-color: rgba(150, 150, 150, 1); /* Farbe des Rahmens */
    display: flex; /* Verwenden von Flexbox */
    justify-content: center; /* Zentrieren des Inhalts horizontal */
    align-items: center; /* Zentrieren des Inhalts vertikal */
}

#result_1_div,
#result_2_div {
    width: 50%;
    height: 345px; /* Ändern Sie die Höhe auf 50% */
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 0.5px solid rgba(150, 150, 150, 1);
    margin: 5px;
    text-align: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
}


#difference_result,
#performance_div {
    width: 100%;
    height: 345px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 0.5px solid rgba(150, 150, 150, 1);
    margin: 5px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: flex;
}


#difference_result h4 {
    margin: 10px;
    padding: 5px;
    font-style: bold;
    font-size: 18px;
    color: black;
}

#performance_div h4 {
    margin: 10px;
    padding: 5px;
    font-style: bold;
    font-size: 18px;
    color: black;
}

#performance_div p {
    margin: 10px;
    padding: 5px;
    color: black;
    font-size: 20px;
}



#filter_container_1,
#filter_container_2 {
    text-align: left;
    background: white;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    border: 0.5px solid rgba(150, 150, 150, 1);
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}

#card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    width: 100%;
}

#result_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}


#difference_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
}

#image-upload-container_1,
#image-upload-container_2 {
    padding: 5px;
    margin: 5px;
    background: white;
    border-radius: 5px;
    display: flex;
    border: 0.0px solid rgba(150, 150, 150, 1);
    margin-bottom: 5px;
}


#output-image-upload_1 img,
#output-image-upload_2 img,
#demo_upload_1 img,
#demo_upload_2 img {
    position: absolute;
    width: 97%;
    padding: 0px;
    margin: 0px;
    display: flex;


}

#output-segmentation-1 img,
#output-segmentation-2 img {
    position: absolute;
    width: 97%;
    padding: 0px;
    margin: 0px;
    opacity: 0.5;
    display: flex;
}


#difference img,
#difference_xAI img {
    position: relative;
    width: 98.5%;
    padding: 5px;
    margin: 5px;
    display: flex;
}

#model_name_1,
#model_name_2,
#label_1,
#label_2,
#method_left,
#method_right {
    margin: 2px;
    padding: 2px;
    color: black;
}

#layer_grad_cam_1 img,
#layer_grad_cam_2 img,
#fa_1 img {
    position: absolute;
    width: 97%;
    padding: 0px;
    margin: 0px;
    opacity: 1;
    display: flex;
}